<h1>詳細画面</h1>


<div class="title">
  <p>Title:<%= @book.title %></p>
</div>

<div class="body">
  <p>Body:<%= @book.body %></p>
</div>

<%= link_to "Edit", edit_book_path(@book.id) %>
<p>|</p>
<%= link_to "Back", "/books" %>